body {
    background: #CCCCCC
}

#banner {

}

h1 {
    text-align: center;
    height: 150px;
}

p {
    text-align: center
}

#missao {
    font-size: 20px
}

em strong {
    color: red;
}